<div id="page-content">
    <h1 class="text-center mt-4">Edit a category name</h1>

    <%= render 'form' %>

        <%= link_to 'Cancel and return to categories listing', categories_path%>
    </div>
</div>